
@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_ceg6rxh9igi.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_ceg6rxh9igi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_ceg6rxh9igi.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_ceg6rxh9igi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_ceg6rxh9igi.svg#阿里汉仪智能黑体') format('svg'); /* iOS 4.1- */
}

:root {
	--baseColor: rgb(255, 80, 20);
}

html, body {
	  min-width: 320px;
	  max-width: 500px;
    font-size: 62.5%;
}

 
* {
    margin: 0 auto;
}