
@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/webfont_h3mhm4109mf.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_h3mhm4109mf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_h3mhm4109mf.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_h3mhm4109mf.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_h3mhm4109mf.svg#庞门正道标题体2') format('svg'); /* iOS 4.1- */
}

:root {
	--baseColor: rgb(255, 80, 20);
}

html, body {
	min-width: 320px;
	max-width: 500px!important;
    font-size: 62.5%;
}

 
* {
    margin: 0 auto;
}